<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Management System</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h1>User Management System</h1>
    <hr>
    <h2>Save User</h2>

    <form action="#" th:action="@{/users/save}" th:object="${user}"
          method="POST">
        <input type="text" th:field="*{nom}" placeholder="Nom" class="form-control mb-4 col-4">
        <input type="text" th:field="*{prenom}" placeholder="Prenom" class="form-control mb-4 col-4">
        <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">
        <input type="text" th:field="*{tel}" placeholder="Telephone" class="form-control mb-4 col-4">
        <input type="text" th:field="*{cp}" placeholder="Code postal" class="form-control mb-4 col-4">
        <input type="text" th:field="*{ville}" placeholder="Ville" class="form-control mb-4 col-4">
        <input type="text" th:field="*{adresse}" placeholder="Adresse" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Save
            User</button>
    </form>

    <hr>

    <a th:href="@{/users}"> Back to User List</a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
</body>
</html>
